<div class="row" id="clone_under_age">
    <input name="clone_under_age_increment[]" id="increment" value="2" hidden="">
    <div class="form-group col-md-4">

        <label for="">underage fee per week: <i class="fa fa-plus pl-3" data-toggle="modal"
                                                data-target="#ProgramUnderAgeModal" aria-hidden="true"></i><i
          class="fa fa-trash pl-3" onclick="deleteProgramUnderAgeRange()" aria-hidden="true"></i></label>
        <select name="under_age[]" id="program_under_age_range_choose" multiple="multiple"
              class="3col active ms-list-7 jqmsLoaded" style="display: none;">
            <option value="21">21</option>
            <option value="22">22</option>

        </select>
        <div id="ms-list-7" class="ms-options-wrap">
            <button type="button"><span>Select Option</span></button>
            <div class="ms-options" style="min-height: 200px; max-height: 243px;">
                <div class="ms-search"><input type="text" value="" placeholder="Search"></div>
                <a href="#" class="ms-selectall global">Select all</a>
                <ul style="column-count: 1; column-gap: 0px;">
                    <li data-search-term="21"><label for="ms-opt-28"><input type="checkbox" title="21" id="ms-opt-28"
                                                                            value="21">21</label></li>
                    <li data-search-term="22"><label for="ms-opt-29"><input type="checkbox" title="22" id="ms-opt-29"
                                                                            value="22">22</label></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group col-md-4 pt-3">
        <label>Fees/week : </label>

        <input class="form-control" type="text" name="underage_fee_per_week" placeholder="Fees/Week">
        <!--program summer fee end-->
    </div>
    <div class="form-group col-md-4 mt-4 pt-3">
        <i class="fa fa-plus-circle" aria-hidden="true" id="program_under_age_add"></i>
        <i class="fa fa-minus" aria-hidden="true" id="program_under_age_remove"></i>
        <!--program summer fee end-->
    </div>
</div>

<!--Original ends-->


<div class="row" id="clone_under_age">
    <input name="clone_under_age_increment[]" id="increment" value="2" hidden="">
    <div class="form-group col-md-4">

        <label for="">underage fee per week: <i class="fa fa-plus pl-3" data-toggle="modal"
                                                data-target="#ProgramUnderAgeModal" aria-hidden="true"></i><i
          class="fa fa-trash pl-3" onclick="deleteProgramUnderAgeRange()" aria-hidden="true"></i></label>
        <select name="under_age[]" id="program_under_age_range_choose" multiple="multiple"
              class="3col active22program_under_age" style="display: none;">
            <option value="fdfdfdf">fdfdfdf</option>
            <option value="dfdfd">dfdfd</option>
        </select>
        <div id="ms-list-7" class="ms-options-wrap">
            <button type="button"><span>Select Option</span></button>
            <div class="ms-options" style="min-height: 200px; max-height: 243px;">
                <div class="ms-search"><input type="text" value="" placeholder="Search"></div>
                <a href="#" class="ms-selectall global">Select all</a>
                <ul style="column-count: 1; column-gap: 0px;">
                    <li data-search-term="21"><label for="ms-opt-13"><input type="checkbox" title="21" id="ms-opt-13"
                                                                            value="21">21</label></li>
                    <li data-search-term="22"><label for="ms-opt-14"><input type="checkbox" title="22" id="ms-opt-14"
                                                                            value="22">22</label></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group col-md-4 pt-3">
        <label>Fees/week : </label>

        <input class="form-control" type="text" name="underage_fee_per_week" placeholder="Fees/Week">
        <!--program summer fee end-->
    </div>
    <div class="form-group col-md-4 mt-4 pt-3">
        <i class="fa fa-plus-circle" aria-hidden="true" id="program_under_age_add"></i>
        <i class="fa fa-minus" aria-hidden="true" id="program_under_age_remove"></i>
        <!--program summer fee end-->
    </div>
</div>

<!--Duplicate ends-->
