<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>visa form</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    .form-control {
    height: 50px;
    padding: 15px;
    font-size: 16px;
    /*border: none;*/
    border-radius: 5px;
    font-weight: 400;
}
#visa-form .form-control {
    border: 1px solid #eee;
}
#visa-form .btn {
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-top: 23px;
}
.agree {
    text-align: center;
}
.submit1 {
    width: 30%;
    margin: 0 auto;
}
form#visa-form {
    overflow: hidden;
    position: relative;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);
    max-width: 1000px;
    margin: 0 auto;
}
#visa-form .heading {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    background: #96cfda;
    font-weight: 600;
    font-size: 25px;
}
#visa-form .left {
    padding: 30px;
}
  </style>
</head>

<body>
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"><img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
           <li><a href="blog.html">Blog</a></li>
          <li class="drop-down"><a href="#">More</a>
            <ul>
              <li><a href="how-to-apply.html">How to Apply</a></li>
              <li><a href="detail.html">Program Details</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="#"><img class="pr-2" src="assets/img/eng.png" class="img-fluid" alt="">English</a></li>
          <li><a href="#"><img class="pr-2" src="assets/img/ar.png" class="img-fluid" alt="">Arabic</a></li>
        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>visa form</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= login Section ======= -->
    <div class="container mt-5 mb-5">
    <form id="visa-form">
      <div class="heading">visa form</div>
      <div class="left">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputapply">I'm applying from</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputappliccation">Choose visa appliccation center</label><br>
          <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="Password"> -->

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">3</label>
          </div>

        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputvisa1">what is your</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputtravel">where do you want to travel?</label>
         <!--  <input type="password" class="form-control" id="inputPassword4" placeholder="Password"> -->
<select class="form-control" id="exampleFormControlSelect3">
      <option>USA</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>

        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputvisa3">Type of visa</label>
          <select class="form-control" id="exampleFormControlSelect4">
            <option>Visit</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputvisa4">Visa information and requirement</label>
         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Visa Fee</label>
          <input type="visa5" class="form-control" id="inputvisa5" placeholder="1000">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Insurance Fee</label>
          <input type="visa6" class="form-control" id="inputvisa6" placeholder="1500">
        </div>
      </div>

       <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Other visa fee</label>
          <input type="visa7" class="form-control" id="inputvisa7" placeholder="other visa fee">
        </div>
        <div class="form-group col-md-6 mt-3">
          <!-- <label for="inputPassword4">Visa Services fee</label> -->
          <input type="visa8" class="form-control mt-3" id="inputvisa8" placeholder="200">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="add" class="btn btn-primary">add another visa fee</button>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Visa Services fee</label>
          <input type="Visa9" class="form-control" id="inputVisa9" placeholder="200">
        </div>
        <div class="form-group col-md-6 mt-3">
          <!-- <label for="inputPassword4">Visa Services fee</label> -->
          <input type="Visa11" class="form-control mt-3" id="inputVisa11" placeholder="15">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"></label>
          <input type="Visa12" class="form-control" id="inputVisa12" placeholder="">
        </div>
        <div class="form-group col-md-6 mt-3">
          <!-- <label for="inputPassword4">Visa Services fee</label> -->
          <input type="Visa13" class="form-control mt-2" id="inputVisa13" placeholder="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="add" class="btn btn-primary">Add another visa services fee</button>
        </div>
        <div class="form-group col-md-6 mt-3">
        </div>
      </div>

    </div>

<!-- form-builder -->
<div class="form-builder">
   <div class="heading">Form-builder</div>
</div>

<div class="p-3">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  </div>

      </form>
    </div>


  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 footer-contact">
            <!-- <h3>Mentor</h3> -->
            <img src="assets/img/logo.png" class="img-fluid" alt="" style="width: 50%;">
            <p>
             Lorem Ipsum is simply  <br>
              dummy text of the printing <br>
              and typesetting industry. <br><br>
              <strong>Phone:</strong> +1 1234 1234 55<br>
              <strong>Email:</strong> Linkforsa@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Find a school</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Get advice</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Why book with us</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services1</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services2</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services3</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services4</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

 <div class="container py-4">
      <div class="row">
        <div class="col-md-4">
           <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Linkforsa</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

          Designed by <a href="http://reinsoft.tech/">Reinsoft</a>
        </div>
      </div>
        </div>
        <div class="col-md-5">
          <ul class="footer-menu p-0">
            <li><a href="term.html">Terms and conditions</a></li>
            <li><a href="payment-refound.html">Payment refund</a></li>
            <li><a href="privacy-policy.html">Privacy policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>