html[lang="ar"] body {
    direction: rtl;
    text-align: right;
}

.page-body-wrapper .sidebar {
    margin-top: 80px;
}
.page-body-wrapper .content-wrapper {
    background: #f2edf3;
    border: none;
    padding-top: 5rem;
}
.page-body-wrapper .content-wrapper .page-header {
    position: fixed;
    top: 5.2rem;
    left: 0;
    right: 0;
    padding: 0 2.25rem;
    width: calc(100% - 260px);
    margin-left: 260px;
    z-index: 10;
    background: #f2edf3;
}
html[lang="ar"] body .page-body-wrapper .content-wrapper .page-header {
    margin-left: 0px;
    margin-right: 260px;
}
.page-body-wrapper .content-wrapper .page-header > * {
    width: calc(100%);
}
.page-body-wrapper .content-wrapper .page-header .card .card-body {
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
}
.page-body-wrapper .content-wrapper .page-content {
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
}
@media (max-width: 991px) {
    .page-body-wrapper .content-wrapper .page-header {
        top: 9.5rem;
        width: 100%;
        margin-left: 0;
    }
    .page-body-wrapper .content-wrapper .page-header .card .card-body > div:first-child {
        margin-bottom: 1rem;
    }
    .page-body-wrapper .content-wrapper .page-content {
        margin-top: 22rem;
    }
}

#loader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    background-size: cover;
    background: url('../images/gif.gif') 50% 50% no-repeat gray;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .7;
}

.dashboard {
    margin-top: 1rem;
    padding: 0.5rem;
}

#form2 {
    display: none;
}

.multiselect-container {
    overflow: auto;
    max-height: 200px;
}

#menu ul li.selected {
    background: #daf2f7;
    color: #000 !important;
    padding: 10px 10px;
    font-weight: 600;
}
#menu a:hover {
    text-decoration: underline;
    background: #daf2f7;
    color: #FFFFFF;
    padding: 10px 10px;
}
#menu a:active {
    background: #daf2f7;
    color: black;
    padding: 10px 10px;
}

ul.lang li a {
    font-weight: 600;
}
.lang li {
    display: inline;
    padding: 0px 10px;
}

ul.lang.text-right li a:hover {
    color: #000 !important;
}

.active li a.active {
    color: #000 !important;
}

/* Course Item */
.course-item {
    width: 100%;
}

.course-item img {
    height: 230px;
}

/* Multi Select */
ul.multiselect-container.dropdown-menu.show {
    width: 100%;
}
.multiselect-native-select .btn-group {
    width: 100%;
}
button.multiselect.dropdown-toggle.btn.btn-default {
    outline: 1px solid #ebedf2;
    color: #c9c8c8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
span.multiselect-selected-text {
    font-size: 12px;
    font-family: sans-serif;
}

/* Date Picker */
.ui-state-busy:not(.ui-datepicker-other-month) .ui-state-default {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}
.ui-datepicker-other-month {
    pointer-events: none;
}

.pl-3:hover {
    cursor: pointer;
}

.pull-right {
    margin-left: 300px !important;
}

.fa {
    font-family: FontAwesome;
    cursor: pointer;
}

.tox .tox-notification--warn, .tox .tox-notification--warning {
    display: none !important;
}

#ms-list-1, #ms-list-2, #ms-list-3, #ms-list-4, #ms-list-5, #ms-list-6, #ms-list-7, #ms-list-8, #ms-list-9, #ms-list-11, #ms-list-10 {
    padding: 10px 8px;
    border: 1px solid #ebedf2;
}

.ms-options-wrap > .ms-options {
    left: 21px;
    width: 87%;
}

button {
    border: none !important;
}

i.fa.fa-plus-circle {
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    padding: 15px 15px;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}
i.fa.fa-minus {
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    padding: 15px 15px;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}
i.fa.fa-plus {
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    padding: 10px 15px 10px 0px;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 5px;
}
i.fa.fa-trash {
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    padding: 10px 15px 10px 0px;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 5px;
}
.btn i.fa {
    padding: 0;
}

.dynamic_starli {
    display: inline-block;
    color: #F0F0F0;
    text-shadow: 0 0 1px #666666;
    font-size: 30px;
    cursor: pointer;
}

.selected {
    color: #FF3333;
    text-shadow: 0 0 1px #FF3333;
}

.carousel-inner img {
    width: 100%;
    height: 600px;
}

.bxs-star {
    cursor: pointer;
}

.lang li {
    display: inline;
    padding: 0px 10px;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
}
.img-hover-zoom {
    overflow: hidden;
}

.form-group label {
    color: #000;
}

.agree {
    text-align: center;
}

#accommodation {
    display: none;
}

#accommodation_fees,
#other_services {
    display: none;
}

#insurance_duration_hide1 {
    display: none;
}

#insurance_duration_hide {
    display: none;
}

/* Add Read More */
.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}
.addReadMore.showmorecontent .readMore {
    display: none;
}
.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: blue;
    cursor: pointer;
}
.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}

.w-40 {
    width: 35%;
    color: gray;
}
.w-60 {
    width: 65%;
    text-align: right;
}
.w-60 p {
    font-size: 12px;
}
.w-100 {
    width: 100% !important;
}

.ui-datepicker-group .ui-datepicker-header .ui-datepicker-title {
    cursor: pointer;
}
.lang li {
    cursor: pointer;
}

.accordion .card-header.collapsed:after {
    content: "\f067";
    cursor: pointer;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.ui-igtrialwatermark {
    display: none;
}

.highlight, .selected {
    color: #F4B30A;
    text-shadow: 0 0 1px #f48f0a;
}

.highlight-value {
    color: #ff3333;
}

.nationality-mix-chart .table tr td:nth-child(1) {
    width: 25%;
    text-align: right;
}
.nationality-mix-chart .table tr td:nth-child(2) {
    width: 60%;
    padding: 0.75rem 0!important;
    border-left: 1px solid black;
}
.nationality-mix-chart .table tr:last-child td:nth-child(2) {
    border-bottom: 1px solid black;
}
.nationality-mix-chart .table tr td:nth-child(2) div {
    height: 24px;
    background-color: #F4B30A;
}
.nationality-mix-chart .table tr td:nth-child(3) {
    width: 15%;
}

.school-filter {    
    position: relative;
    z-index: 10;
}
.form-group-dropdown .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ced4da !important;
}
.form-group-dropdown .dropdown-menu {
    right: 0;
    padding: 0.5rem;
}
.form-group-dropdown .dropdown-menu li {
    cursor: pointer;
}

.show-read-more .more-text {
    display: none;
}

.study {
    box-shadow: 0px 0px 2px 1px #ccc;
    padding: 15px 15px;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}
.accordion .card-header.collapsed:after {
    content: "\f067";
    cursor: pointer;
}

.table {
    border: 1px solid #ccc;
    box-shadow: 0px -1px 4px 1px #ece7e7;
    background: #fff;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
#main .container table thead {
    background-color: #97d0db;
    color: white;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table td p, .table th p {
    margin-bottom: 0;
}
.table td .btn-group .btn {
    margin: 0;
}

.content-wrapper {
    background: #ffffff;
    border: 1px solid #ccc;
}
.diff-tution {
    color: #b94443;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
.form-check-inline {
    display: inline-block;
}
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}
.form-check-inline .form-check-input {
    display: inline-block;
}
.form-check-inline .form-check-label {
    display: inline-block;
    margin-left: 0.25rem;
}
.form-check-inline .form-control {
    display: inline-block;
    margin-left: 0.25rem;
    width: auto;
}

.best {
    font-size: 16px;
    font-weight: 600;
}
.registration-form {
    padding: 0 15px;
}
.col-form-label {
    font-weight: bold;
}

#form2 {
    display: none;
}

#menu ul li.selected {
    background: #daf2f7;
    color: #000 !important;
    padding: 10px 10px;
    font-weight: 600;
}
#menu a:hover {
    text-decoration: underline;
    background: #daf2f7;
    color: #FFFFFF;
    padding: 10px 10px;
}
#menu a:active {
    background: #daf2f7;
    color: black;
    padding: 10px 10px;
}

ul.lang li a {
    font-weight: 600;
}

#visa-form .form-control {
    border: 1px solid #eee;
}
#visa-form .btn {
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-top: 23px;
}

.submit1 {
    width: 30%;
    margin: 0 auto;
}

form#visa-form {
    overflow: hidden;
    position: relative;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);
    max-width: 1000px;
    margin: 0 auto;
}
#visa-form .heading {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    background: #96cfda;
    font-weight: 600;
    font-size: 25px;
}
#visa-form .left {
    padding: 30px;
}

#medical_insurance_fee {
    display:none;
}

#other_service_fee {
    display:none;
}

.register-content .form-control {
    border: 1px solid #eee;
}
.register-content .heading {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    background: #97d0db;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}
.register-content {
    padding: 25px;
    text-align: center;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);
    max-width: 550px;
    background-color: #fff;
    margin: 0 auto;
}
.register-content h4 {
    color: #777;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}
.register-content h4 {
    color: #777;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}
.register-content .btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

#sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
    height: 150px;
}
#financial_guarantee {
    display: none;
}
#bank_statement {
    display: none;
}
#signature {
    border: 2px solid black;
}
form > * {
    margin: 10px;
}
@media (max-width: 400px) {
    #sig-canvas {
        width: 100%;
    }
}

.section-title {
    font-size: 24px;
    margin: 30px 0 15px 0;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}
.section-title:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #eef0ef;
    bottom: 0;
    left: 0;
}
.section-title:after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: #97d0db;
    bottom: 0;
    left: 0;
}

#tab-video .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}
#tab-video .carousel-item .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collapseRegistrationForm .col-form-label {
    font-weight: bold;
}

.message-item .message-header {
    position: relative;
    background-color: #97d0db;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.message-item .message-header .message-user-image {
    margin-right: 10px;
}
.message-item .message-header .message-user-image img {
    width: 35px;
}
.message-item .message-header .message-time {
    position: absolute;
    right: 5px;
}
.message-item .message-body {
    padding: 7px;
    border: 1px solid #aaa;
}
.message-item .message-body > div {
    padding: 5px 0;
}

.bg-danger {
    background-color: #fe7c96;
}
.color-white {
    color: #ffffff;
}
.color-danger {
    color: #fe7c96;
}
.cursor-default {
    cursor: default;
}